<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Svelte App</title>
    <!-- Include CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='build/bundle.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='global.css') }}">
</head>
<body>
    <div id="svelte-app"></div>
    <!-- Include JavaScript -->
    <script src="{{ url_for('static', filename='build/bundle.js') }}"></script>
</body>
</html>
